<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
    {% if page.title == "চিন্তা" %}
    <title>{{site.title}} - {{ site.subtitle }}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{site.title}} - {{ site.subtitle }}" />
    <meta property="og:description" content="{{ site.subtitle }}" />
    <meta name="description" content="{{ site.subtitle }}" />
    {% elsif page.layout == "post" %}
    <title>{{page.title}} - {{ site.title }}</title>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ page.date }}">
    <meta property='article:author' content='https://www.facebook.com/{{ site.facebook }}' />
    <meta property='og:site_name' content='{{ site.url | date_to_xmlschema}}' />
    <meta property="og:title" content="{{page.title}} - {{ site.title }}" />
    <meta property="og:description" content="{{ page.content | strip_html | truncate: 150, '...'}}" />
    <meta name="description" content="{{ page.content | strip_html | truncate: 150, '...'}}" />
    {% else %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}} - {{ site.title }}" />
    <meta property="og:description" content="{{ site.subtitle }}" />
    <meta name="description" content="{{ site.subtitle }}" />
    {% endif %}

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
    <meta property="og:image"              content="{{ site.url }}{{ site.logo }}" />
    
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/monokai.css" />
    <link href="https://fonts.googleapis.com/earlyaccess/notosansbengaliui.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/js/bigfoot/bigfoot-default.css" />
</head>
